
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/Syslog/.vs/*
library/Syslog/Syslog/bin/*
library/Syslog/Syslog/obj/*

# ignore PowerShell Studio MetaData
Syslog/Syslog.psproj
Syslog/Syslog.psproj.bak
Syslog/Syslog.psprojs
Syslog/Syslog.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*